*, *::after, *::before {
    box-sizing: border-box;
}

.wrapp{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    font-size: 1.25em;
}

input{
    width: 80%;
    height: 50px;
}

.btn-success{
    width: 100px;
}