*{
    box-sizing: border-box;
}
.wrapp{
    width: 825px;
    height: 500px;
     margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.open {
    height: 245px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
    background-color: green;
   
}

#myImg1{ 
    display: none;
    background-size: cover;

}
#myImg2{ 
    display: none;
    background-size: cover;

}
#myImg3{ 
    display: none;
    background-size: cover;

}
#myImg4{ 
    display: none;
    background-size: cover;

}
#myImg5{ 
    display: none;
    background-size: cover;

}
#myImg6{ 
    display: none;
    background-size: cover;

}
#myImg7{ 
    display: none;
    background-size: cover;

}
#myImg8{ 
    display: none;
    background-size: cover;

}



.display-2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(3, 77, 3)
}